DOCLENS_DOCS_ROOT=./docs
DOCLENS_DB_PATH=./data/doclens.sqlite
DOCLENS_SEARCH_PROVIDER=rg
DOCLENS_SEARCH_IGNORE=third_parties,node_modules,.git
DOCLENS_MAX_FILE_PREVIEW_BYTES=2097152
DOCLENS_MAX_FILE_PREVIEW_LINES=500
